.button {
  display: flex;
  flex: 0 0 250px;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  
  @include md {
    flex: 1 1 auto;
  }
  
  &__link {
    background-color: #EC5863;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    
    &_blue {
      background-color: #4285F4;
    }
    &:hover {
      background-color:darkgray;
      transition: all .5s ease;
    }
  }
  
  
  
  &__menu-icon {
    display: none;
    
    @include md {
      display: flex;
      flex: 0 0 33px;
      height: 21px;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      z-index: 2;
    }
  }
  &__menu-icon::after,
  &__menu-icon::before {
    content: "";
    height: 3px;
    background-color: #000000;
  }
  &__menu-icon span {
    height: 3px;
    background-color: #000000;
  }
}