.title {
  width: 480px;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 1.26;
  color: #000000;
  
  &--blue {
    color: #4285F4;
  }
  
  &--red {
    color:#EC5863;
  }
}