@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

$breakpoints: (
	"xs": 0,
	"sm": 480px,
	"md": 720px,
	"lg": 960px,
	"xl": 1200px,
);
@mixin xs {
	@media (min-width: map-get($breakpoints, "xs")) {
		@content;
	}
}
@mixin sm {
	@media (min-width: map-get($breakpoints, "sm")) {
		@content;
	}
}
@mixin md {
	@media (max-width: map-get($breakpoints, "md")) {
		@content;
	}
}
@mixin lg {
	@media (min-width: map-get($breakpoints, "lg")) {
		@content;
	}
}
@mixin xl {
	@media (min-width: map-get($breakpoints, "xl")) {
		@content;
	}
}
@mixin breakpoint($bp: 0) {
	@media (man-width: $bp) {
		@content;
	}	
}


body {
	height: 100%;
	line-height: 1;

	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	
	color: #616161;
}





.wrapper {
}
.header {
//	background-color: antiquewhite;
	display: flex;
	align-items: center;
	min-height: 120px;
		&__logo {
		}

		&__menu {
		}

		&__button {
		}
}
.container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 15px;

}
.logo {

	@include md {
		z-index: 2;
	}

		&__link {
		}

		&__img {
		}
}
.menu {
	display: flex;
	flex: 1 1 300px;
	justify-content: flex-end;
	transition: left .5s ease 0s;

	@include md {
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: gainsboro;
		justify-content: center;
		align-items: center;
	}

		&:target {
			left: 0;
		}

		&__list {
			display: flex;
			@include md {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 20px;
			}
		}

		&__item {
			margin-right: 25px;
			list-style-type: none;

			@include md {
				margin-right: 0;
				margin-top: 20px;
				font-size: 30px;
			}
		}

		&__link {
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 12px;
			
			letter-spacing: 0.14em;
			
			color: #000000;
			text-decoration: none;
		}

		&__link:hover {
			text-decoration: underline;
		}
}
.button {
	display: flex;
	flex: 0 0 250px;
	justify-content: flex-end;
	align-items: center;
	z-index: 2;
	
	@include md {
		flex: 1 1 auto;
	}
	
		&__link {
			background-color: #EC5863;
			padding: 15px 25px;
			color: #fff;
			text-decoration: none;
			border-radius: 5px;
			text-transform: uppercase;

			&_blue {
				background-color: #4285F4;
			}
		}
		&__link:hover {
			background-color:darkgray;
			transition: all .5s ease;
		}

		&__menu-icon {
			display: none;
			
			@include md {
				display: flex;
				flex: 0 0 33px;
				height: 21px;
				flex-direction: column;
				justify-content: space-between;
				margin-left: 20px;
				z-index: 2;
			}
		}
		&__menu-icon::after,
		&__menu-icon::before {
			content: "";
			height: 3px;
			background-color: #000000;
		}
		&__menu-icon span {
			height: 3px;
			background-color: #000000;
		}
}




.main {
	padding-top: 70px;
	display: flex;
	flex-wrap: wrap;

/*	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background-color:#EC5863;
		position: absolute;
		top: 0;
		right: 0;
		transition: ;
} */
	

	&__text-content {
		flex: 0 1 45%;
	}

	&__title {
		width: 480px;
		font-style: normal;
		font-weight: bold;
		font-size: 44px;
		line-height: 126%;
		color: #000000;
	}

	&__title span {
		color:#EC5863;
	}


	&__title_blue span {
		color: #4285F4;
	}


	&__description {
		width: 375px;
		line-height: 138.5%;
		letter-spacing: 0.08em;
		color: #616161;
		padding-top: 12px;
		padding-bottom: 48px;
	}

	&__images {
		flex: 0 1 55%
	}

//	&__images::before {
//		content: "";
//		width: 100%;
//		height: 100%;
//		background-color:#EC5863;
//		position: absolute;
//	}

	&__image {
	}

	&__video-block {

		@include breakpoint(1110px) {
			display: flex;
		}

	}

	&__video {
		display: flex;
		align-items: center;
		text-decoration: none;

	}

	&__video-icon {
	}

	&__video-description {
		font-size: 13px;
		line-height: 126%;

		letter-spacing: 0.08em;

		color: #B0B0B0;

		padding-left: 12px;

	}

	
	&__video-description span {
		font-size: 9px;
		line-height: 126%;

		letter-spacing: 0.165em;
		text-transform: uppercase;

		color: #000000;

	}

	

}
.container {
}
.button {

	&__link {
	}
}



/* ------------ stay safe block ------------------- */

.stay-safe {

	display: flex;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;

	&__image {
		flex: 0 1 55%;
		display: flex;
		justify-content: center;
		position: relative;
	}

	&__image img {
		z-index: 2;
	}

	&__image::after {
		content: "";
		width: 50px;
		height: 50px;
		border-radius: 20px;
		background-color: #EC5863;
		position: absolute;
		bottom: 15px;
		right: 160px;
	}

	&__image::before {
		content: "";
		width: 150px;
		height: 150px;
		border-radius: 30px;
		background-color: #EC5863;
		position: absolute;
		left: 70px;
	}

	&__contant {
	}
}


/*-----------  talk to block ------------------*/

.talk-to {

	&__stats {
		padding-top: 100px;
		padding-bottom: 100px;
		position: relative;
	}

	&__body {

	}

	&__info {
		display: flex;
		justify-content: space-around;

		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0 auto;

		box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
		border-radius: 16px;
		max-width: 600px;

	}

	&__item {
		text-align: center;
	}

	&__item-val {
		font-size: 36px;
		line-height: 43px;
		letter-spacing: 0.14em;
		font-weight: bold;
		color: #EC5863;
	}

	&__item-text {
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.37em;
		font-weight: bold;
		color: #000000;
	}

	&__decor-one {
		position: absolute;
		width: 80px;
		height: 80px;
		background-color: #EC5863;
		border-radius: 10px;
		left: 175px;
		bottom: 40px;
		transform: rotate(15deg);
	}

	&__decor-two {
		position: absolute;
		width: 50px;
		height: 50px;
		background-color: #EC5863;
		border-radius: 10px;
		right: 175px;
		top: 75px;

		transform: rotate(-20deg);
	}

	&__decor-three {
	}
}





/*			support block 				*/

.support {
	padding-top: 100px;
	padding-bottom: 100px;

	&__content {
	}

	&__main-title {
		text-align: center;
	}

	&__title {
		font-weight: bold;
		font-size: 16px;
		line-height: 138.5%;

		text-align: center;
		letter-spacing: 0.08em;

		color: #000000;

		margin-bottom: 15px;
	}


	&__main-description {
		margin: 0 auto;
		text-align: center;
	}

	&__description {
		font-weight: normal;
		font-size: 12px;
		line-height: 138.5%;

		text-align: center;
		letter-spacing: 0.08em;

		color: #616161;

	}

	&__items {
		display: flex;
		max-width: 990px;
		margin: 0 auto;
		gap: 70px

	}

	&__item {
		flex: 0 1 33.33%;

		background: #FFFFFF;
		box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
		border-radius: 8px;

		display: flex;
    	flex-direction: column;

		align-items: center;
		text-align: center;
		padding: 35px 15px;

	}

	&__icon {
		margin-bottom: 30px;
	}
}
.container {
}
.main {

	&__text-content {

	}

	&__title {
		width: 100%;
	}

	&__description {
		width: 50%;

	}
}
